<div class="footer pb-0">
    <div class="columns m-auto is-mobile social-icons">

        <div class="column is-one-third has-text-centered is-flex is-justify-content-center">
            <span class="icon is-medium has-text-white">
                <i class="fa-brands fa-2x fa-square-facebook"></i>
            </span>
        </div>
        <div class="column is-one-third has-text-centered is-flex is-justify-content-center">
            <span class="icon is-medium has-text-white">
                <i class="fa-brands fa-2x fa-square-youtube"></i>
            </span>
        </div>
        <div class="column is-one-third has-text-centered is-flex is-justify-content-center">
            <span class="icon is-medium has-text-white">
                <i class="fa-brands fa-discord"></i>
            </span>
        </div>
    </div>
    <div class="columns m-auto has-text-white is-mobile footer-links" >
        <div class="column is-one-quarter">
            Home
        </div>
        <div class="column is-one-quarter">
            Blog
        </div>
        <div class="column is-one-quarter">
            About
        </div>
        <div class="column is-one-quarter">
            Contact Us
        </div>
    </div>
    <div class="container">
        <p style="text-align:center;">Copyright &copy; 2025 Nomisite</p>
    </div>
</div>