/* Header section */
nav {
  background-color: #545454 !important;
}

.navbar-item,
.navbar-dropdown,
.navbar-menu,
.navbar-link {
  background-color: #696969 !important;
}

.navbar-link:not(.nav-btn):hover,
.navbar-item:not(.nav-btn):hover {
  background-color: #7d7d7d !important;
}

#hero1 {
  height: calc(100vh - 4.5rem - 8px);
}

@media (min-width: 1024px) {
  .nomi-icon {
    height: 64px;
    width: 64px;
    max-height: 128px !important;
  }

  .navbar-menu {
    display: flex;
    justify-content: center;
  }

  .navbar-item {
    color: white;
  }

  .social-icons {
    width: 15%;
  }

  .footer-links {
    width: 25%;
  }

  .header-title-sub {
    width:50%;
  }
}

@media (max-width: 1024px) {
  .is-nomi-icon {
    display: none !important;
  }

  .navbar-item,
  .navbar-dropdown,
  .navbar-menu,
  .navbar-link {
    background-color: #696969 !important;
  }

  .social-icons {
    width: 50%;
  }

  .footer-links {
    width: 100%;
  }

  /* .header-title-sub {
    width:50%;
  } */
}

/* First section */

/* .nomi-install-gif {
  clip-path: inset(0 0 15% 0);
} */

/* General */

.table-split {
  display: table;
}

/* cards */

.card-sh {
  box-shadow: 0px 3px 10px 0px #302a2a !important;
}

.card-home {
  border-radius: 25px;
  height: 350px;
  background-color: #cdcdcd;
  transition: transform 250ms ease-in-out;
  max-width: 450px;
}

.card, .card-content {
  min-height:225px;
}

.card-home:hover {
  transform: translateY(-8px);
}

body {
  height: 100vh;
}

html {
  background-color: #545454 !important;
}

.navbar-item,
.navbar-link {
  /* color: white ; */
}

.navbar-item:hover,
.navbar-dropdown:hover {
  /* background-color: white !important;
  color: black !important; 
  opacity: 1 !important; */
}

/* Mailchimp signup form */

#mc_embed_signup {
  width: 100vw;
  text-align: center;
  margin: auto;
  background-color: #011aa8;
}

#mc-embedded-subscribe-form {
  padding: 25px;
  margin: 0 auto;
  width: 50%;
}

#mc_embed_signup_scroll {
  color: white;
  text-align: center;
  padding: 0 20px;
}

.mc-field-group {
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 20px 2px 2px 2px;
}

#mce-email {
  width: 25%;
  height: 30px;
  font-size: 16px;
}

.clear_foot {
  margin: 20px;
  text-align: center;
}

#mc-embedded-subscribe {
  font-size: 20px;
  background-color: #8ed1fc;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  font-weight: 600;
  font-family: "Montserrat", serif;
  padding: 15px 30px;
}

/* Footer  */

.footer {
  background-color: #696969 !important;
  border-top: 1px solid;
  border-color: #7e7e7e;
}
