/* Header section */

.header-container {
  position: relative;
}

.header-stripe {
  background-image: linear-gradient(to left, #8ed1fc, #011aa8);
  width: 100%;
  height: 50vh;
  margin: 0;
  padding: 0;
}

.header-swirlies {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 10vh;
}

.pagelayer-shape-fill {
  width: 100vw;
  fill: white;
  
}

.header-link-container {
  position: absolute;
  top: 0;
  font-weight: bold;
  font-size: 26px;
  color: white;
  width: 100%;
}

.header-menu-items {
  /* display: table; */
  width: 70%;
  max-width: 1200px;
  margin: 20px auto 0 auto;
  height: 5vh;
}

.header-item {
  float: left;
}

.header-icon {
  height: 36px;
  filter: brightness(0) invert(1);
}

.header-links {
  color: white;
  text-decoration: none;
  width: 20%;
  text-align: center;
}

.header-title-container {
  display: title;
  max-width: 1200px;
  width: 70%;
  margin: auto;
  height:calc(35vh - 20px);
}

.header-title-superscript {
  padding: 100px 40px 0 0;
  font-size: 20px;
  color: #79c2d8;
}

.header-title-main {
  font-size: 36px;
  padding: 0 40px 0 0;
}

.header-title-sub {
    font-size:16px;
    padding: 20px 40px 0 0;
    font-weight: 200;
}

/* General */

.table-split {
    display:table;
}