<!DOCTYPE html>
<html lang=en class="html" data-theme="light">
{%- include head.html -%}

<body class="has-background-white" style="height:100vh;">
  <header>
    <nav class="navbar header-stripe-gradient" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="{{ site.baseurl }}//" class="navbar-item" href="#">
          <figure class="is-64x64 pr-5">
            <img class="is-fullwidth" src="{{ site.baseurl }}/assets/images/nomi-icon.png" alt=""
              style="filter: brightness(0) invert(1);">
          </figure>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item has-text-white">
            Solution
          </a>
          <a class="navbar-item has-text-white">
            Pricing
          </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a href="{{ site.baseurl }}//docs/" class="navbar-link has-text-white">
              Docs
            </a>
            <div class="navbar-dropdown">
              {% for category in site.categories %}
              <a class="navbar-item">{{ category[0] }}</strong></a>
                {% endfor %}
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary is-small">
                <strong>Contact us</strong>
              </a>
              <a class="button is-light is-small">
                Log in
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>


  {{ content }}
</body>

</html>