---
layout: default
title: testing
---
<section id="hero1" class="section p-0 pt-2 header-stripe-gradient">
  <div class="container hero1" style="padding:10vh 20px 20px 20px;">
    <div class="header-title-superscript m-auto has-text-link">
      .NET Services and Micro Services Design
    </div>
    <div class="header-title-main has-text-white is-size-2" style="font-weight: bold;">
      Rapid Code Deployment With a Generic Host
    </div>
    <div class="block pr-2">
      <div class="header-title-sub has-text-white">
        Designed by developers for developers to remove bureaucracy and spend time where it matters -
        writing
        code.
        Scale <strong class="has-text-link">smarter</strong>, develop <strong class="has-text-link">faster</strong>, and
        <strong class="has-text-link">deploy</strong> with confidence.
      </div>
    </div>
    <div class="columns pt-1" style="width:50%;">
      <div class="column is-one-quarter"><button class="button is-rounded is-medium is-link">Try now</button>
      </div>
      <div class="column is-one-quarter"><button class="button is-rounded is-medium is-primary">Read our docs</button>
      </div>
      <div class="column"></div>
    </div>
    <figure class="image pt-5 is-hidden-mobile">
      <img class="" src="{{ site.baseurl }}/assets/images/nomi-install-gif.gif" />
    </figure>
  </div>
</section>


<!-- <section id="benefits">
  <div class="container m-auto has-text-centered has-text-white">
    <h1 class="has-text-white">Our benefits</h1>
  </div>
<p class="has-text-centered has-text-white m-auto pb-6 pt-6" style="width:30%">Nomi is designed to empower developers and streamline work. We ensure that developers can focus on business needs and have a stable platform, which is infinitely scalable, easily updatable and easy to work with.</p>
  <div class="columns m-auto" style="width:70%;">
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h2 class="has-text-link has-text-centered">.NET native</h2>
            Built by developers for developers to reduce application infrastructure red tape and ensure time is well
            spent .
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h2 class="has-text-link has-text-centered">Infrastructure included</h2>
            Includes all the required packages to get you started in moments. Packaged as a simple docker image.
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h2 class="has-text-link has-text-centered">Observability</h2>
            Native Open Telemetry coupled with Traefik, Seq and Jager gives you unprecendeted visibility of your
            services
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->



<section class="section p-5 mb-6 m-auto" style="width:70%">
  <div class="columns has-text-left is-justify-content-center">
    <div class="column is-one-quarter has-text-black p-3 m-3 card-sh card-home">
      <div class="container pt-1 pl-3 pr-3 is-flex is-flex-direction-column" style="height:100%;">
        <span class="icon is-large has-text-white" style="background-color: white; border-radius:25px">
          <i class="fa-solid fa-phone-volume has-text-black"></i>
        </span>
        <h2 class="is-size-3 pb-3">Get in touch</h2>
        <p style="font-weight:400;">
          Talk to an expert and see how Nomi can help you reach your business goals.
        </p>
        <button class="button is-link is-rounded mt-auto mb-6">Request a call</button>
      </div>
    </div>
    <div class="column is-one-quarter has-text-black p-3 m-3 card-sh card-home">
      <div class="container pt-1 pl-3 pr-3 is-flex is-flex-direction-column" style="height:100%;">
        <span class="icon is-large has-text-white" style="background-color: white; border-radius:25px">
          <i class="fa-regular fa-lg fa-envelope has-text-black"></i>
        </span>
        <h2 class="is-size-3 pb-3">Stay connected.</h2>
        <p style="font-weight:400;padding-bottom: 10px;">
          Get the latest news about Nomi, integrations, automations and API management
        </p>
        <form
          action="https://outlook.us13.list-manage.com/subscribe/post?u=0f1aa1326e71cc8654a126936&amp;id=48eaeb5825&amp;f_id=004e21eaf0"
          method="post" class="validate is-flex is-flex-direction-column" style="height: 100%;" target="_self"
          novalidate="">

          <label for="mce-EMAIL">Email Address*&nbsp;</label>
          <input class="input is-link has-background-white has-text-black" type="email" id="mce-email" required=""
            placeholder="Enter your email address here..." style="width: 100%;">

          <!-- Hidden anti-bot field -->
          <div aria-hidden="true" style="position: absolute; left: -5000px;">
            <input type="text" tabindex="-1" value="">
          </div>

          <!-- Submit button at the bottom -->
          <input class="button is-link is-rounded mt-auto mb-6" type="submit" value="Sign up">
        </form>
      </div>
    </div>
    <div class="column is-one-quarter has-text-black p-3 m-3 card-sh card-home">
      <div class="container pt-1 pl-3 pr-3 is-flex is-flex-direction-column" style="height:100%;">
        <span class="icon is-large has-text-white" style="background-color: white; border-radius:25px">
          <i class="fa-solid fa-phone-volume has-text-black"></i>
        </span>
        <h2 class="is-size-3 pb-3">Join the community.</h2>
        <p style="font-weight:400;">
          Start using Nomirun immediately. No credit card required.
        </p>
        <a href="https://discord.gg/RU29HXzm" target="_blank" class="button is-link is-rounded mt-auto mb-6">Request a
          call</a>
      </div>
    </div>
  </div>
</section>