 <!-- <section class="section p-5">
    <div class="columns has-text-left">
      <div class="column"></div>
      <div class="column is-one-quarter has-text-black p-3 m-3 card-sh card-home">
        <div class="container pt-1 pl-3 pr-3 is-flex is-flex-direction-column" style="height:100%;">
          <span class="icon is-large has-text-white" style="background-color: white; border-radius:25px">
            <i class="fa-solid fa-phone-volume has-text-black"></i>
          </span>
          <h2 class="is-size-3 pb-3">Get in touch</h2>
          <p style="font-weight:400;">
            Talk to an expert and see how Nomi can help you reach your business goals.
          </p>
          <button class="button is-link is-rounded mt-auto mb-6">Request a call</button>
        </div>
      </div>
      <div class="column is-one-quarter has-text-black p-3 m-3 card-sh card-home">
        <div class="container pt-1 pl-3 pr-3 is-flex is-flex-direction-column" style="height:100%;">
          <span class="icon is-large has-text-white" style="background-color: white; border-radius:25px">
            <i class="fa-regular fa-lg fa-envelope has-text-black"></i>
          </span>
          <h2 class="is-size-3 pb-3">Stay connected.</h2>
          <p style="font-weight:400;padding-bottom: 10px;">
            Get the latest news about Nomi, integrations, automations and API management
          </p>
          <form
            action="https://outlook.us13.list-manage.com/subscribe/post?u=0f1aa1326e71cc8654a126936&amp;id=48eaeb5825&amp;f_id=004e21eaf0"
            method="post" class="validate is-flex is-flex-direction-column" style="height: 100%;" target="_self"
            novalidate="">

            <label for="mce-EMAIL">Email Address*&nbsp;</label>
            <input class="input is-link has-background-white has-text-black" type="email" id="mce-email" required=""
              placeholder="Enter your email address here..." style="width: 100%;">

             Hidden anti-bot field
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
              <input type="text" tabindex="-1" value="">
            </div>

             Submit button at the bottom 
            <input class="button is-link is-rounded mt-auto mb-6" type="submit" value="Sign up">
          </form>
        </div>
      </div>
      <div class="column is-one-quarter has-text-black p-3 m-3 card-sh card-home">
        <div class="container pt-1 pl-3 pr-3 is-flex is-flex-direction-column" style="height:100%;">
          <span class="icon is-large has-text-white" style="background-color: white; border-radius:25px">
            <i class="fa-solid fa-phone-volume has-text-black"></i>
          </span>
          <h2 class="is-size-3 pb-3">Start for free.</h2>
          <p style="font-weight:400;">
            Start using Nomirun immediately. No credit card required.
          </p>
          <button class="button is-link is-rounded mt-auto mb-6">Request a call</button>
        </div>
      </div>
      <div class="column"></div>
    </div>
  </section> -->